#sources {float:left;}

#configpanel {background-color:#eee; width:300px; float:right;}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  }
  
#output p { width:100%; text-align: center; font-family: 'Lakki Reddy', cursive; font-size:30px; color:#000;}

.jumbotron {background-image: url("http://freeseamlesstextures.com/images/13-old-parchment-background-lrg.jpg");}
